<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FL Legal Docs Generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.tiny.cloud/1/nf56djxmrt5h0sf7j8vkhscwakqvwdeyi7ftriugdec5tc05/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#createDocArea',
            plugins:'fullscreen pagebreak searchreplace table print',
            height: '50vh',
            toolbar_sticky: true,
            autosave_restore_when_empty:true
        });
    </script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">API</a></li>
            <li><a href="addTemplate.ejs" id="toggleAdd">Add Template</a></li>
            <li><a href="editTemplate.ejs" id="toggleEdit">Edit Template</a></li>
            <li><a href="createDoc.ejs" id="toggleCreate">Create Summons</a></li>
        </ul>
    </nav>
    <h1>FL Legal Docs Generator: Create Document</h1>
    
    <div id="available-templates">
        <h2>Available FL Summons Templates</h2>
        <ul class="templates">
        <% for(let i=0; i<info.length; i++) { %>
            <li class="available-templates">
                <span><%= info[i].countyName[0].toUpperCase() + info[i].countyName.slice(1) %></span>
                <% if (info[i].tier === 'sc') { %>
                    <span>Small Claims</span>
                <% } else if (info[i].tier === 'cc') { %>
                    <span>County Civil</span>
                <% } else if (info[i].tier === 'ca') { %>
                    <span>Circuit Civil</span>
                <% } %>
                <span id="mongoId" class="hidden"><%= info[i]._id %></span>
                <span class='fa-solid fa-pen-to-square'></span>
            </li>
        <% } %>
        </ul>
    </div>

    <div id="createDoc">
        <h2>Create A Summons:</h2>
        <p>Click the <span class='fa-solid fa-pen-to-square'></span> icon for the county you would like to create a summons for. Fill out the fields below to create , then use the fields below to fill out an existing template.</p>
        <p>State:</p>
        <p>County:</p>
        <p>Filing Tier:</p>
        <p>Document Text:
            <textarea id="createDocArea" placeholder="Document text" name="docText"></textarea>
        </p>
    </div>
    
    <script src='js/main.js'></script>
    
</body>
</html>