<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FL Legal Docs Generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.tiny.cloud/1/nf56djxmrt5h0sf7j8vkhscwakqvwdeyi7ftriugdec5tc05/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#editTemplateArea',
            plugins:'autosave fullscreen pagebreak searchreplace table print',
            height: '50vh',
            toolbar_sticky: true,
            autosave_restore_when_empty:true
        });
        tinymce.init({
            selector: '#addTemplateArea',
            plugins:'autosave fullscreen pagebreak searchreplace table print',
            height: '50vh',
            toolbar_sticky: true,
            autosave_restore_when_empty:true
        });
    </script>
</head>
<body>
    <h1>FL Legal Docs Generator</h1>
    <div class="instructions">
        <h2>Instructions</h2>
        <p>Use https://fl-legal-docs-api.herokuapp.com/summons/countyName&tier to view a json file containing data for a summons template.</p>
        <p>Route parameters are:
            <ul>
                <li>County Name: replace countyName with the county's name</li>
                <li>Filing Tier: replace tier with the filing tier-- sc for small claims, cc for county civil, ca for circuit</li>
            </ul>
            Example: https://fl-legal-docs-api.herokuapp.com/summons/alachua&sc
        </p>
    </div>
    
    <div>
        <h2>Available Templates</h2>
        <ul class="templates">
        <% for(let i=0; i<info.length; i++) { %>
            <li class="available-templates">
                <span><%= info[i].countyName[0].toUpperCase() + info[i].countyName.slice(1) %></span>
                <% if (info[i].tier === 'sc') { %>
                    <span>Small Claims</span>
                <% } else if (info[i].tier === 'cc') { %>
                    <span>County Civil</span>
                <% } else if (info[i].tier === 'ca') { %>
                    <span>Circuit Civil</span>
                <% } %>
                <span class='fa-solid fa-pen-to-square'></span>
                <span class='fa fa-trash'></span>
            </li>
        <% } %>
        </ul>
    </div>


    <form action="/updateTemplate" method="POST" id="editTemplate"> <!--/updateTemplate?_method=PUT-->
        <h2>Edit A Template</h2>
        <p>Use the form below to edit an existing summons template.</p>
        <input type="hidden" name="_method" value="PUT"/>
        <p>
            <label for="editState"><span>State: </span></label>
            <input type="text" placeholder="State Abbreviation" name="stateName" maxLength="2" id="editState">
        </p>
        <p>
            <label for="editCounty"><span>County: </span></label>
            <input type="text" placeholder="County" name="countyName" id="editCounty">
        </p>
        <p>
            <label for="editTier"><span>Filing Tier: </span></label>
            <select name="filingTier" id="editTierSelect">
                <option value="sc">Small Claims</option>
                <option value="cc">County Civil</option>
                <option value="ca">Circuit Civil</option>
            </select>
        </p>
        <p>
            <label for="editTemplateArea"><span>Document Text: </span></label>
            <textarea id="editTemplateArea" placeholder="Paste document text here." name="docText"></textarea>
        </p>
        <button id="editTemplateButton">Edit Template</button>
    </form>

    <form action="/addTemplate" method="POST">
        <h2>Add A Template:</h2>
        <p>Use the form below to add a new summons template. Fill out the state abbreviation, county name, filing tier, and document text.</p>
        <p>
            <label for="addState"><span>State: </span></label>
            <input type="text" placeholder="State Abbreviation" name="stateName" maxLength="2" id="addState">
        </p>
        <p>
            <label for="addCounty"><span>County: </span></label>
            <input type="text" placeholder="County" name="countyName" id="addCounty">
        </p>
        <p>
            <label for="addTier"><span>Filing Tier: </span></label>
            <select name="filingTier" id="addTierSelect">
                <option value="sc">Small Claims</option>
                <option value="cc">County Civil</option>
                <option value="ca">Circuit Civil</option>
            </select>
        </p>
        <p>
            <label for="addTemplateArea"><span>Document Text: </span></label>
            <textarea id="addTemplateArea" placeholder="Paste document text here." name="docText"></textarea>
        </p>
        <input type="submit">
    </form>
    
    <script src='js/main.js'></script>
    
</body>
</html>